.remove-btn {
  margin-right: 0.5rem;
  width: 2rem;
  height: 2rem;
  margin-top: 1rem;
}

.empty-contacts-wrapper, .agenda-contacts-wrapper {
  margin-top: 2rem;
}

.empty-contacts-section {
  border: 1px solid brown;
  background-color: beige;
  margin-left: 2rem;
  margin-right: 2rem;
}

.contact-info {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.info-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  flex: 1 1 0;
}

span {
  margin-bottom: 0.5rem;
}

.copy-icon {
  margin-left: 1rem;
}